# Dependencias
node_modules/
**/node_modules/

# Variables privadas
.env
.env.*
**/.env
**/.env.*

# Archivos compilados
dist/
**/dist/
build/
**/build/

# Logs
*.log
npm-debug.log*

# Editores y sistema
.vscode/
.idea/
.DS_Store
